services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    environment:
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=${POSTGRES_HOST}
      - DB_POSTGRESDB_PORT=${POSTGRES_PORT}
      - DB_POSTGRESDB_DATABASE=${POSTGRES_DB}
      - DB_POSTGRESDB_USER=${POSTGRES_NON_ROOT_USER}
      - DB_POSTGRESDB_PASSWORD=${POSTGRES_NON_ROOT_PASSWORD}
      - GENERIC_TIMEZONE=${N8N_GENERIC_TIMEZONE}
      - TZ=${N8N_TZ}
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
    ports:
      - ${N8N_PORT}:5678
    volumes:
      - ./data:/home/node/.n8n

volumes:
  n8n_storage:
