services:
  fail2ban:
    image: crazymax/fail2ban:latest
    container_name: fail2ban
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - ./data:/data
      - ./config:/etc/fail2ban/jail.d:ro
      - /var/log:/var/log:ro
      # For Docker container logs
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    environment:
      - TZ=UTC
      - F2B_LOG_TARGET=STDOUT
      - F2B_LOG_LEVEL=INFO
      - F2B_DB_PURGE_AGE=1d
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
