data_dir = "/var/lib/garage/data"
metadata_dir = "/var/lib/garage/meta"
db_engine = "sqlite"

replication_factor = 1
# replication_factor = 3

metadata_auto_snapshot_interval = "6h"

compression_level = 2

rpc_bind_addr = "[::]:3901"
rpc_public_addr = "127.0.0.1:3901"
rpc_secret = "4a734a6c0541e7e8388c41f63f6bcfc41f3aaf96a66648fa5b95ea16a1843541"

[s3_api]
s3_region = "garage"
api_bind_addr = "[::]:3900"
root_domain = ".s3.garage.localhost"

# CORS configuration for web browser access
cors_allow_origin = ["*"]
# cors_allow_origin = ["http://localhost:3000", "https://yourdomain.com"]

cors_allow_methods = ["GET", "PUT", "POST", "DELETE", "HEAD"]
cors_allow_headers = ["*"]
# cors_allow_headers = ["Authorization", "Content-Type", "x-amz-date", "x-amz-content-sha256"]
cors_expose_headers = ["ETag", "Content-Length"]
cors_max_age = 86400

[s3_web]
bind_addr = "[::]:3902"
root_domain = ".web.garage.localhost"
index = "index.html"

[k2v_api]
api_bind_addr = "[::]:3904"

[admin]
api_bind_addr = "[::]:3903"
admin_token = "JaHcC87eoCpyeue+h6d0Pxw8kUWpUSSzuYMN79qfaGk="
metrics_token = "JaHcC87eoCpyeue+h6d0Pxw8kUWpUSSzuYMN79qfaGk="